.Food_background {
    width: 100%;
    img {
        width: 100%;
        max-height: 500px;
    }
}

.Food_title {
    display: flex;
    justify-content: center;
    h3 {
        font-size:  50px;
        color: rgb(203, 0, 0);
        margin-top: 15px;
    }
}

.Food_form {
    
}