.food_background_form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Chiều cao bằng với toàn màn hình */
  background-image: url('../../img/foodwall.jpg');
  background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ khung */
  background-position: center; /* Căn giữa ảnh */
  background-repeat: no-repeat; /* Ngăn ảnh nền lặp lại */
  z-index: -1;
}