.salt_background_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../img/foodwall.jpg');
    background-size: cover;
  }