.search__product {
  width: 100px;
  background-color: rgb(216, 0, 0);
  position: relative;
  bottom: 10px;
}

.add_product {
  width: 100px;
  background-color: rgb(216, 0, 0);
  position: relative;
  bottom: 10px;
}