.product-container {
    margin-bottom: 20px; /* Add space between products */
  }
  
  .product-divider {
    margin-top: 20px;
    border-top: 1px solid #ddd; /* Gray line to separate products */
    margin-bottom: 20px;
  }
.modal-content h3 {
  color: #f74040;  /* Change the color */
  font-size: 20px;  /* Adjust the font size */
  margin-bottom: 10px;  /* Add some space below the h3 */
}  