.my_wall {
  position: relative;
  width: 100%;
  height: 70vh; 
  overflow: hidden;
  
  img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    object-fit: cover; 
    display: block; 
    margin: 0 auto; 
    filter: blur(1px); 
  }

  .overlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 10px;
    margin-top: 300px;
    h1 {
      font-size: 3.3rem; 
      gap: 10px;
    }

    p {
      font-size: 23px; 
    }

    .down-icon {
      color: white;
      cursor: pointer;
      font-size: 60px;
      transition: transform 0.3s ease, color 0.3s ease; 
      
      &.clicked {
        transform: scale(1.2); // Tăng kích thước khi nhấn
        color: #f39c12; 
      }
    }
  }
}

.my_title {
  display: flex;
  justify-content: center;
  
}