@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
// font-family: gowun patang;
.Checkout__img{
    img{
    width: 100%;
    height: 60dvh;
    object-fit: cover;
    }
}

.Checkout__body{
    h1{
        font-family: gowun patang;
        font-size: 50px;
        text-align: center;
        margin-top: 20px;
        color: #d00000;
    }
    .Checkout__infor{
        border: 1px solid rgb(145, 145, 145);
        margin: 40px;
        border-radius: 10px;
    }
    .Checkout__form{
        height: 170px;
        padding: 10px;
        .inline-fields {
            display: flex;
            gap: 16px;
            .ant-form-item {
              flex: 1; 
            }
          }
    }

    .Checkout__order{
        position: relative;
        top: 170px;
        width: 100%;

        .ant-btn{
            width: 100%;
            padding: 20px;
            background-color: #d00000;
            color: white;
            font-size: 20px;
            font-family: gowun patang;
        }
      }

    .Checkout__sumary{
        border: 1px solid rgb(145, 145, 145);
        margin: 40px;
        border-radius: 10px;
        padding: 10px;
        font-family: gowun patang;
        h3{
        text-align: left;
        color: #d00000;
        }
        .Checkout_total{
            display: flex;
            gap: 1230px;
        }
        .Checkout_ship{
            display: flex;
            gap: 1230px;
        }
    }
}